.collapsed {
    display: none;
}

.form-design-card {
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    gap: 5px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: #4a4a4a;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Rubik", Arial, Helvetica, sans-serif;
}
