@use '../core/variables' as vars;

 .container-all {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    background-color: white;
    border: solid, black;
    padding: 30px;
}

.form-card {
    max-width: 50%;
    background-color: white;
    border: solid, black;
    padding: 30px;
    align-content: center;
}

.preview-card {
    display: flex;
    flex-direction: row;
    gap: 16px;
} 

