
.container-all {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;

  gap: 5px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: #4A4A4A;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;;
}

.form-inputs {
  display: flex;
  gap: 60px;
}

.title-card {
  margin-bottom: 20px;
}

.preview-card {
  width: 600px;
  height: 350px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  //margin-top: 20px;
  //margin-bottom: 20px;
}

// Columna izquierda (foto + logo)
.preview-card-image {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #F2F2F2;
}

.blank-profile-pic {
  width: 161px;
  height: 161px;
  border-radius: 90px;
  object-fit: cover; // PARA QUE LA IMAGEN NO SE DEFORME
}

.logo-adalab {
  width: 150px;
}

// Columna derecha (texto + iconos) 
.preview-card-info {
  width: 60%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
}

.card-name {
  width: max-content;
  font-size: 30px;
  font-family: "Posterama 2001 W04 SemiBold", Arial, Helvetica, sans-serif;;
  font-weight: bold;
  margin: 0;
  color: #4a4a4a;
}

.card-rol {
  font-size: 16px;
  margin: 0 0 20px;
  color: #666;
}

// Cada línea de icono + texto en fila
.info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: #333;
}

.info-item img {
  width: 30px;
  height: 30px;
}

// Estilos para design (checkboxes)
.bg-style-one {
  background-color: #b8b8b9;
}

.bg-style-two {
  background-color: #0A9D8D;
}

.bg-style-three {
  background-color: #CA3825;
}

// Botones

.buttons {
  margin-top: 20px;
}

.download-card-button {
  background-color: #CA3825;
  color: white;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  border: none;
  padding: 10px;
}

.reset-button {
  background-color: #CA3825;
  color: white;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  border: none;
  padding: 10px;
}


.preview-title {
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  color: #333;
}

.design-title {
  color: #333;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.form-design-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 5px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  color: #4A4A4A;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

.collapsed {
  display: none;
}

.form-title {
  color: #333;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

.download-card-title {
  color: #333;
  font-family: "Posterama 2001 W04 SemiBold", Arial, Helvetica, sans-serif;
}

// Estilo para los botones desplegables
.button-dropdown {
  border: none;
  font-family: "Posterama 2001 W04 SemiBold",Arial, Helvetica, sans-serif;
  font-size: 25px;
  background-color: white;
  color: #666;
}

.label-form {
  margin-top: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}


// MEDIA QUERY PARA DISPOSITIVOS MÓVILES
@media (max-width: 768px) {
  .container-all {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 20px;
  }

  .form-card {
    order: -1; /* Preview arriba */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .preview-card {
    width: 100%;
    max-width: 600px;
    height: auto;
    flex-direction: row; /* Mantener diseño horizontal */
  }

  .preview-card-image {
    width: 40%;
    padding: 30px;
  }

  .preview-card-info {
    width: 60%;
    padding: 20px;
  }

  .form-container {
    width: 100%;
    padding: 20px;
  }

  .form-inputs {
    display: inline-block;
  }

// Botones 
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
  }

  .download-card-button,
  .reset-button {
    width: auto;
    max-width: none;
  }
}


