
@import url('https://db.onlinewebfonts.com/c/03d33d67fd07fb2d31001eb9f90d58bf?family=Posterama+2001+W04+SemiBold');

.logo-and-title {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.home-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.home-link i {
    font-size: 20px;
}

.adalab-logo-title {
    height: auto;
    width: 118px;
}

.lanting_title {
    font-family: "Posterama 2001 W04 SemiBold", Arial, Helvetica, sans-serif;
    color: #53575A;
}

.subtitle-container {
    background-color: #0A9D8D;
    background-image: url("/images/banner-landing-page-adasign.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    //background-position: center;
    height: 490px;
}


.lanting_sub_title {
    font-family: 'Rubik', Helvetica, Arial, Lucida, sans-serif;
    font-weight: 600;
    color: white;
    padding: 150px;
}

@media (max-width: 768px) {
  .subtitle-container {
    background-position: right center;
  }
}
