<div class="container-all">
    <section class="form-inputs">
        <div class="design">
            <h3 class="design-title">Diseña tu tarjeta</h3>
            <button class="design-control-button">+</button>
            <form  class="form-design-card" action="">
                <input type="checkbox" class="style-one">
                <label for=""> Estilo 1</label>
                <input type="checkbox" class="style-two">
                <label for=""> Estilo 2</label>
                <input type="checkbox" class="style-three">
                <label for=""> Estilo 3</label>
            </form>
        </div>
        <div class="form-to-close">
            <h3 class="form-title">Completa tu tarjeta</h3>
            <button class="form-control-button">+</button>
            <form action="" class="form-container">
                <label for="">SUBE TU IMAGEN</label>
                <input class="input-image" type="image" placeholder="">
                <label for="">Nombre</label>
                <input class="input-name" type="text" placeholder="María">
                <label for="">Rol</label>
                <input class="input-rol" type="text" placeholder="Front-end">
                <label for="">@ GitHub</label>
                <input class="input-github" type="url" placeholder="https://github.com/maria">
                <label for="">Email</label>
                <input class="input-mail" type="email" placeholder="maria@gmail.com">
                <label for="">Teléfono</label>
                <input class="input-tel" type="tel" placeholder="555 555 555">
                <label for="">Usuario de Slack</label>
                <input  class="input-slack" type="text" placeholder="@_maria">
            </form>
            <h3 class="download-card-title">Descarga tu tarjeta</h3> 
            <button class="download-card-control-button">+</button>
            <div class="download-card">
                <button class="download-card-button">DESCARGA TU TARJETA</button>
            </div>
    </section>

    <section class="form-card">
        <div class="title-card">
            <h3 class="preview-title">Preview</h3>
        </div>
        <div class="preview-card">
            <div class="preview-card-image">
                <img src="images/blank-profile-pic.png" class="blank-profile-pic" alt=""> 
                <img src="images/logo-adalab.png" class="logo-adalab" alt="">     
            </div>
            <div class="preview-card-info">
                <div class="preview-card-info">
                    <p class="card-name">MARÍA XXXXX</p>
                    <p class="card-rol">FRONT-END</p>
                    <div class="info-item">
                        <img src="images/icon-gray-github.png" class="github-icon" alt="">
                        <p class="card-github">https://github.com/maria</p>
                    </div>
                    <div class="info-item">
                        <img src="images/icon-gray-email.png" class="email-icon" alt="">
                        <p class="card-email">maria@gmail.com</p>
                    </div>
                    <div class="info-item">
                        <img src="images/icon-gray-phone.png" class="phone-icon" alt="">
                        <p class="card-phone">555 555 555</p>
                    </div>
                    <div class="info-item">
                        <img src="images/icon-gray-slack.png" class="slack-icon" alt="">
                        <p class="card-slack">@_maria</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reset-button-container">
            <button class="reset-button">RESET</button>
        </div>
    </section>
</div>