<div class="landing-section">
    <ul class="landing_list">
        <li class="lanting_design">
            <i class="fa-regular fa-object-ungroup" style="color: #ca3824;"></i>
            Diseña
        </li>
        <li class="landing_fill">
            <i class="fa-regular fa-keyboard" style="color: #ca3824;"></i>
            Rellena
        </li>
        <li class="landing_use">
            <i class="fa-solid fa-share-nodes" style="color: #ca3824;"></i>
            Utiliza
        </li>
    </ul>
    <a href="form.html" class="landing_button_start">¡Comenzar!</a>
</div>